# Getting Data from an API

## Import Libraries

In [1]:
import requests
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import json_normalize

In [2]:
# set theme
sns.set_theme(style='darkgrid', palette='dark', font='sans-serif')

## Converting API data into a DataFrame

In [3]:
# Define the start date and end date
"2013-01-01..2023-12-31"

# Host and URL
host = "api.frankfurter.app"
url = f"https://{host}/2013-01-01..2023-12-31"

print(url)

https://api.frankfurter.app/2013-01-01..2023-12-31

In [4]:
# Send a GET request
response = requests.get(url)

# To Json
data = response.json()

# To dataframe
df = pd.DataFrame(data)

print(df)

            amount base  start_date    end_date  \
2012-12-31     1.0  EUR  2012-12-31  2023-12-25
2013-01-07     1.0  EUR  2012-12-31  2023-12-25
2013-01-14     1.0  EUR  2012-12-31  2023-12-25
2013-01-21     1.0  EUR  2012-12-31  2023-12-25
2013-01-28     1.0  EUR  2012-12-31  2023-12-25
...            ...  ...         ...         ...
2023-11-27     1.0  EUR  2012-12-31  2023-12-25
2023-12-04     1.0  EUR  2012-12-31  2023-12-25
2023-12-11     1.0  EUR  2012-12-31  2023-12-25
2023-12-18     1.0  EUR  2012-12-31  2023-12-25
2023-12-25     1.0  EUR  2012-12-31  2023-12-25

                                                        rates
2012-12-31  {'AUD': 1.2534, 'BGN': 1.9558, 'BRL': 2.6831, ...
2013-01-07  {'AUD': 1.2454, 'BGN': 1.9558, 'BRL': 2.6658, ...
2013-01-14  {'AUD': 1.2649, 'BGN': 1.9558, 'BRL': 2.7182, ...
2013-01-21  {'AUD': 1.2713, 'BGN': 1.9558, 'BRL': 2.7238, ...
2013-01-28  {'AUD': 1.2985, 'BGN': 1.9558, 'BRL': 2.7009, ...
...                                                       ...
2023-11-27  {'AUD': 1.6544, 'BGN': 1.9558, 'BRL': 5.3684, ...
2023-12-04  {'AUD': 1.6394, 'BGN': 1.9558, 'BRL': 5.307, '...
2023-12-11  {'AUD': 1.6376, 'BGN': 1.9558, 'BRL': 5.3508, ...
2023-12-18  {'AUD': 1.6225, 'BGN': 1.9558, 'BRL': 5.3582, ...
2023-12-25  {'AUD': 1.6226, 'BGN': 1.9558, 'BRL': 5.3597, ...

[574 rows x 5 columns]

In [5]:
# Reset the index
df = df.reset_index()

df

,index,amount,base,start_date,end_date,rates
0,2012-12-31,1.0,EUR,2012-12-31,2023-12-25,"{'AUD': 1.2534, 'BGN': 1.9558, 'BRL': 2.6831, ..."
1,2013-01-07,1.0,EUR,2012-12-31,2023-12-25,"{'AUD': 1.2454, 'BGN': 1.9558, 'BRL': 2.6658, ..."
2,2013-01-14,1.0,EUR,2012-12-31,2023-12-25,"{'AUD': 1.2649, 'BGN': 1.9558, 'BRL': 2.7182, ..."
3,2013-01-21,1.0,EUR,2012-12-31,2023-12-25,"{'AUD': 1.2713, 'BGN': 1.9558, 'BRL': 2.7238, ..."
4,2013-01-28,1.0,EUR,2012-12-31,2023-12-25,"{'AUD': 1.2985, 'BGN': 1.9558, 'BRL': 2.7009, ..."
...,...,...,...,...,...,...
569,2023-11-27,1.0,EUR,2012-12-31,2023-12-25,"{'AUD': 1.6544, 'BGN': 1.9558, 'BRL': 5.3684, ..."
570,2023-12-04,1.0,EUR,2012-12-31,2023-12-25,"{'AUD': 1.6394, 'BGN': 1.9558, 'BRL': 5.307, '..."
571,2023-12-11,1.0,EUR,2012-12-31,2023-12-25,"{'AUD': 1.6376, 'BGN': 1.9558, 'BRL': 5.3508, ..."
572,2023-12-18,1.0,EUR,2012-12-31,2023-12-25,"{'AUD': 1.6225, 'BGN': 1.9558, 'BRL': 5.3582, ..."
573,2023-12-25,1.0,EUR,2012-12-31,2023-12-25,"{'AUD': 1.6226, 'BGN': 1.9558, 'BRL': 5.3597, ..."

In [6]:
# Normalise the rates column
df_rates = pd.json_normalize(df['rates'])

df_rates

,AUD,BGN,BRL,CAD,CHF,CNY,CZK,DKK,GBP,HKD,...,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR,ISK
0,1.2534,1.9558,2.6831,1.2960,1.20910,8.1813,25.278,7.4597,0.81235,10.1738,...,4.0925,4.4281,39.796,8.5471,1.6072,39.909,2.3412,1.3125,11.2497,NaN
1,1.2454,1.9558,2.6658,1.2930,1.21060,8.1627,25.579,7.4605,0.81633,10.1650,...,4.1083,4.3994,39.793,8.5756,1.6094,39.818,2.3299,1.3114,11.3051,NaN
2,1.2649,1.9558,2.7182,1.3157,1.23720,8.2884,25.597,7.4626,0.83257,10.3323,...,4.1274,4.3564,40.374,8.6386,1.6330,39.884,2.3541,1.3327,11.7232,NaN
3,1.2713,1.9558,2.7238,1.3324,1.24100,8.3096,25.608,7.4629,0.84293,10.3566,...,4.1750,4.3650,40.287,8.6904,1.6409,39.804,2.3626,1.3358,11.9565,NaN
4,1.2985,1.9558,2.7009,1.3572,1.23950,8.4169,25.652,7.4605,0.85702,10.4907,...,4.1961,4.3848,40.662,8.6231,1.6743,40.348,2.3862,1.3522,12.1687,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,1.6544,1.9558,5.3684,1.4868,0.96010,7.8129,24.322,7.4554,0.86486,8.5349,...,4.3468,4.9718,NaN,11.4044,1.4611,38.312,31.6180,1.0938,20.4270,150.70
570,1.6394,1.9558,5.3070,1.4663,0.94490,7.7247,24.362,7.4558,0.85713,8.4406,...,4.3330,4.9675,NaN,11.2861,1.4463,38.017,31.2560,1.0802,20.3690,150.42
571,1.6376,1.9558,5.3508,1.4648,0.94702,7.7551,24.430,7.4564,0.85883,8.4665,...,4.3234,4.9720,NaN,11.2496,1.4502,38.364,31.4730,1.0843,20.3620,150.66
572,1.6225,1.9558,5.3582,1.4635,0.94518,7.8262,24.535,7.4559,0.86476,8.5592,...,4.3412,4.9702,NaN,11.1207,1.4576,38.229,31.9460,1.0966,20.2090,150.54
573,1.6226,1.9558,5.3597,1.4651,0.93333,7.8845,24.704,7.4541,0.86932,8.6533,...,4.3353,4.9746,NaN,11.0667,1.4621,38.023,32.6460,1.1076,20.4590,150.50

In [7]:
# drop rates column in the main data frame
df = df.drop('rates', axis=1)

# then concatenate the data frames as one data
df = pd.concat([df, df_rates], axis=1)

df

,index,amount,base,start_date,end_date,AUD,BGN,BRL,CAD,CHF,...,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR,ISK
0,2012-12-31,1.0,EUR,2012-12-31,2023-12-25,1.2534,1.9558,2.6831,1.2960,1.20910,...,4.0925,4.4281,39.796,8.5471,1.6072,39.909,2.3412,1.3125,11.2497,NaN
1,2013-01-07,1.0,EUR,2012-12-31,2023-12-25,1.2454,1.9558,2.6658,1.2930,1.21060,...,4.1083,4.3994,39.793,8.5756,1.6094,39.818,2.3299,1.3114,11.3051,NaN
2,2013-01-14,1.0,EUR,2012-12-31,2023-12-25,1.2649,1.9558,2.7182,1.3157,1.23720,...,4.1274,4.3564,40.374,8.6386,1.6330,39.884,2.3541,1.3327,11.7232,NaN
3,2013-01-21,1.0,EUR,2012-12-31,2023-12-25,1.2713,1.9558,2.7238,1.3324,1.24100,...,4.1750,4.3650,40.287,8.6904,1.6409,39.804,2.3626,1.3358,11.9565,NaN
4,2013-01-28,1.0,EUR,2012-12-31,2023-12-25,1.2985,1.9558,2.7009,1.3572,1.23950,...,4.1961,4.3848,40.662,8.6231,1.6743,40.348,2.3862,1.3522,12.1687,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,2023-11-27,1.0,EUR,2012-12-31,2023-12-25,1.6544,1.9558,5.3684,1.4868,0.96010,...,4.3468,4.9718,NaN,11.4044,1.4611,38.312,31.6180,1.0938,20.4270,150.70
570,2023-12-04,1.0,EUR,2012-12-31,2023-12-25,1.6394,1.9558,5.3070,1.4663,0.94490,...,4.3330,4.9675,NaN,11.2861,1.4463,38.017,31.2560,1.0802,20.3690,150.42
571,2023-12-11,1.0,EUR,2012-12-31,2023-12-25,1.6376,1.9558,5.3508,1.4648,0.94702,...,4.3234,4.9720,NaN,11.2496,1.4502,38.364,31.4730,1.0843,20.3620,150.66
572,2023-12-18,1.0,EUR,2012-12-31,2023-12-25,1.6225,1.9558,5.3582,1.4635,0.94518,...,4.3412,4.9702,NaN,11.1207,1.4576,38.229,31.9460,1.0966,20.2090,150.54
573,2023-12-25,1.0,EUR,2012-12-31,2023-12-25,1.6226,1.9558,5.3597,1.4651,0.93333,...,4.3353,4.9746,NaN,11.0667,1.4621,38.023,32.6460,1.1076,20.4590,150.50

In [8]:
# Convert all dates to datetime datatype
df["index"] =  pd.to_datetime(df["index"])
df["start_date"] =  pd.to_datetime(df["start_date"])
df["end_date"] =  pd.to_datetime(df["end_date"])

df

,index,amount,base,start_date,end_date,AUD,BGN,BRL,CAD,CHF,...,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR,ISK
0,2012-12-31,1.0,EUR,2012-12-31,2023-12-25,1.2534,1.9558,2.6831,1.2960,1.20910,...,4.0925,4.4281,39.796,8.5471,1.6072,39.909,2.3412,1.3125,11.2497,NaN
1,2013-01-07,1.0,EUR,2012-12-31,2023-12-25,1.2454,1.9558,2.6658,1.2930,1.21060,...,4.1083,4.3994,39.793,8.5756,1.6094,39.818,2.3299,1.3114,11.3051,NaN
2,2013-01-14,1.0,EUR,2012-12-31,2023-12-25,1.2649,1.9558,2.7182,1.3157,1.23720,...,4.1274,4.3564,40.374,8.6386,1.6330,39.884,2.3541,1.3327,11.7232,NaN
3,2013-01-21,1.0,EUR,2012-12-31,2023-12-25,1.2713,1.9558,2.7238,1.3324,1.24100,...,4.1750,4.3650,40.287,8.6904,1.6409,39.804,2.3626,1.3358,11.9565,NaN
4,2013-01-28,1.0,EUR,2012-12-31,2023-12-25,1.2985,1.9558,2.7009,1.3572,1.23950,...,4.1961,4.3848,40.662,8.6231,1.6743,40.348,2.3862,1.3522,12.1687,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,2023-11-27,1.0,EUR,2012-12-31,2023-12-25,1.6544,1.9558,5.3684,1.4868,0.96010,...,4.3468,4.9718,NaN,11.4044,1.4611,38.312,31.6180,1.0938,20.4270,150.70
570,2023-12-04,1.0,EUR,2012-12-31,2023-12-25,1.6394,1.9558,5.3070,1.4663,0.94490,...,4.3330,4.9675,NaN,11.2861,1.4463,38.017,31.2560,1.0802,20.3690,150.42
571,2023-12-11,1.0,EUR,2012-12-31,2023-12-25,1.6376,1.9558,5.3508,1.4648,0.94702,...,4.3234,4.9720,NaN,11.2496,1.4502,38.364,31.4730,1.0843,20.3620,150.66
572,2023-12-18,1.0,EUR,2012-12-31,2023-12-25,1.6225,1.9558,5.3582,1.4635,0.94518,...,4.3412,4.9702,NaN,11.1207,1.4576,38.229,31.9460,1.0966,20.2090,150.54
573,2023-12-25,1.0,EUR,2012-12-31,2023-12-25,1.6226,1.9558,5.3597,1.4651,0.93333,...,4.3353,4.9746,NaN,11.0667,1.4621,38.023,32.6460,1.1076,20.4590,150.50

In [9]:
# Show info of dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 39 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       574 non-null    datetime64[ns]
 1   amount      574 non-null    float64
 2   base        574 non-null    object
 3   start_date  574 non-null    datetime64[ns]
 4   end_date    574 non-null    datetime64[ns]
 5   AUD         574 non-null    float64
 6   BGN         574 non-null    float64
 7   BRL         574 non-null    float64
 8   CAD         574 non-null    float64
 9   CHF         574 non-null    float64
 10  CNY         574 non-null    float64
 11  CZK         574 non-null    float64
 12  DKK         574 non-null    float64
 13  GBP         574 non-null    float64
 14  HKD         574 non-null    float64
 15  HRK         522 non-null    float64
 16  HUF         574 non-null    float64
 17  IDR         574 non-null    int64
 18  ILS         574 non-null    float64
 19  INR         574 non-null    float64
 20  JPY         574 non-null    float64
 21  KRW         574 non-null    float64
 22  LTL         105 non-null    float64
 23  LVL         53 non-null     float64
 24  MXN         574 non-null    float64
 25  MYR         574 non-null    float64
 26  NOK         574 non-null    float64
 27  NZD         574 non-null    float64
 28  PHP         574 non-null    float64
 29  PLN         574 non-null    float64
 30  RON         574 non-null    float64
 31  RUB         479 non-null    float64
 32  SEK         574 non-null    float64
 33  SGD         574 non-null    float64
 34  THB         574 non-null    float64
 35  TRY         574 non-null    float64
 36  USD         574 non-null    float64
 37  ZAR         574 non-null    float64
 38  ISK         309 non-null    float64
dtypes: datetime64[ns](3), float64(34), int64(1), object(1)
memory usage: 175.0+ KB

In [10]:
# Summary statistics of data

df.describe().T

,count,mean,min,25%,50%,75%,max,std
index,574,2018-06-28 12:00:00,2012-12-31 00:00:00,2015-09-29 18:00:00,2018-06-28 12:00:00,2021-03-27 06:00:00,2023-12-25 00:00:00,NaN
amount,574.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
start_date,574,2012-12-31 00:00:00,2012-12-31 00:00:00,2012-12-31 00:00:00,2012-12-31 00:00:00,2012-12-31 00:00:00,2012-12-31 00:00:00,NaN
end_date,574,2023-12-25 00:00:00,2023-12-25 00:00:00,2023-12-25 00:00:00,2023-12-25 00:00:00,2023-12-25 00:00:00,2023-12-25 00:00:00,NaN
AUD,574.0,1.532103,1.229,1.4684,1.5464,1.60125,1.8383,0.094395
BGN,574.0,1.955118,1.5646,1.9558,1.9558,1.9558,1.9558,0.016328
BRL,574.0,4.452196,2.5497,3.459,4.326,5.37515,6.801,1.156414
CAD,574.0,1.458304,1.293,1.42195,1.4639,1.504325,1.5971,0.064165
CHF,574.0,1.101135,0.93333,1.0588,1.0894,1.1539,1.2497,0.077833
CNY,574.0,7.644716,6.6044,7.34895,7.7125,7.884475,8.6674,0.418751
CZK,574.0,26.014655,23.376,25.448,25.856,27.029,28.111,1.105995
DKK,574.0,7.450612,7.4334,7.4399,7.45015,7.4605,7.4731,0.011135
GBP,574.0,0.846424,0.70106,0.835135,0.858055,0.879935,0.92317,0.049994
HKD,574.0,9.036712,7.5844,8.535325,8.82175,9.34495,10.7831,0.716712
HRK,522.0,7.526468,7.3809,7.44635,7.5298,7.58185,7.7202,0.080991
HUF,574.0,332.972143,290.41,309.5325,318.305,358.24,427.09,31.872118
IDR,574.0,15691.296167,12499.0,14981.5,15861.5,16501.25,18056.0,1129.908481
ILS,574.0,4.152047,3.2661,3.911175,4.1181,4.3173,5.0336,0.373833
INR,574.0,80.144106,66.383,75.268,80.02,85.0825,92.18,6.154367
JPY,574.0,131.385209,112.47,124.1375,130.16,136.9325,162.87,10.052271
KRW,574.0,1340.235192,1162.28,1292.315,1337.32,1383.1025,1516.15,68.687708
LTL,105.0,3.4528,3.4528,3.4528,3.4528,3.4528,3.4528,0.0
LVL,53.0,0.701447,0.69706,0.70028,0.70206,0.70266,0.70306,0.001579
MXN,574.0,20.669715,15.7544,18.31605,20.861,22.5875,26.57,2.612585
MYR,574.0,4.632173,3.8799,4.507025,4.6861,4.819475,5.1147,0.281733
NOK,574.0,9.598903,7.3027,9.0114,9.6103,10.19175,11.9217,1.020335
NZD,574.0,1.658526,1.4068,1.607125,1.66795,1.71075,1.8634,0.082655
PHP,574.0,57.087333,47.262,54.58125,57.6555,59.512,64.756,3.539569
PLN,574.0,4.361363,3.9982,4.2204,4.3032,4.49685,4.8577,0.180549
RON,574.0,4.673043,4.3184,4.469825,4.657,4.881625,4.9746,0.204504
RUB,479.0,69.044762,39.725,61.8785,71.041,78.0685,116.34,14.58099
SEK,574.0,9.979954,8.3305,9.330125,10.11055,10.526225,11.9114,0.802502
SGD,574.0,1.558466,1.3888,1.508125,1.5526,1.607275,1.7588,0.078174
THB,574.0,38.205521,33.264,36.73675,37.978,39.11725,45.112,2.479806
TRY,574.0,8.144717,2.3211,3.186275,5.5089,9.684925,32.646,7.152838
USD,574.0,1.160372,0.96618,1.0942,1.1317,1.2018,1.3896,0.09442
ZAR,574.0,16.170228,11.2497,14.56745,16.1175,17.460825,21.085,2.165724
ISK,309.0,143.741489,121.45,137.46,144.58,150.66,164.96,10.226118

In [ ]:
# Choose the necessary columns
cols = df[["index","USD","CNY","GBP","JPY","CAD"]]


# Basic correlogram  
''' Correlogram   --  draw a correlation matrix through the pairplot() function'''

sns.pairplot(cols,kind="reg")
plt.show()

# Questions

## 1.  How has the exchange rate of the Euro (EUR) against the US Dollar (USD) changed over time?

* Visualization: A line chart showing the exchange rate for EUR to USD

In [ ]:
# Select the USD rates 
usd_df = df[["index","USD"]]
usd_df

In [ ]:
# Plot a line graph
sns.lineplot(data = usd_df, x = "index", y = "USD",)
plt.xlabel("Years")
plt.ylabel("USD($)")
plt.title("Euro-USD Exchange Rates from 1/1/2013 to 31/12/2023")
plt.grid(False)

## 2.  What is the distribution of exchange rates for the Chinese Yuan (CNY) against the Euro (EUR)?

*Visualization: Histogram or kernel density plot for the distribution of CNY to EUR exchange rates.

In [ ]:
# Select the CNY rates 
cny_df = df["CNY"]
cny_df

In [ ]:
# Create a histogram for CNY to EUR exchange rates
plt.figure(figsize=(10, 6))
sns.histplot(cny_df, kde=True)
plt.title('Distribution of CNY to EUR Exchange Rates')
plt.xlabel('Exchange Rate(CNY to EUR)')
plt.ylabel('Frequency')
plt.grid(False)

In [ ]:
# Add the statistics to describe the dataset
cny_df.describe()

In [ ]:
# You can include skewness
cny_skewness = cny_df.skew()
cny_skewness

In [ ]:
# You can include kurtosis
cyn_kurtosis = cny_df.kurtosis()
cyn_kurtosis

## 3.  Between the Great British Pound (GBP) and the Japanese Yen (JPY) determine which country's currency is more volatile
* Visualization: Bar chart comparing the volatility of the selected currencies.

In [ ]:
# How do we determine the volatile ---- We use standard deviation

# Select the currencies for the Great British Pound and the Japanese Yen 
# Find their standard deviation


volatility = df[["GBP", "JPY"]].std()

volatility

In [ ]:
# Plot using the barchart --- cmap = "coolwarm" or "inferno" 
volatility.plot(kind = 'bar',cmap = "coolwarm" )
plt.title('Volatility between GBP and JPY')
plt.ylabel('Standard Deviation')
plt.grid(False)
plt.xticks(rotation=20)

## 4.  Is there a correlation between the exchange rates of the Canadian Dollar (CAD) and the American Dollar (USD)??

* Visualization: Scatter plot with CAD to USD and data points representing the exchange rates.

In [ ]:
# Select the CAD & USD rates 

cad_usd = df[["CAD", "USD"]]
cad_usd

In [ ]:
# Correlation coefficient for CAD & USD
corr_coefficient= df['CAD'].corr(df['USD'])

corr_coefficient

In [ ]:
# Import linregress to find the regression line

from scipy.stats import linregress
'''The linregress() function from the SciPy library performs a simple linear regression analysis between two data points (x and y). 
It calculates several key statistics related to the linear regression model, 
including the slope, intercept, correlation coefficient (r-value), p-value, and standard error of the regression'''

# Choose the x and y data 
x = df["CAD"]
y = df["USD"]

# Find the slope, intercept, correlation coefficient, p-value, and standard error of the regression
slope, intercept, r_value, p_value, std_err = linregress(x, y)
slope

In [ ]:
# Intercept of the line 
intercept

In [ ]:
# correlation coefficient of the line 
r_value

In [ ]:
# p-value of the line 
p_value

In [ ]:
# standard error of the line 
std_err

In [ ]:
# Find the equation of the line

regression_equation = slope * x + intercept

In [ ]:
# Plot the scatter chart for CAD & USD

sns.scatterplot(x = df["CAD"], y = df["USD"])
plt.plot(x, regression_equation, color='green', label=f'Regression Equation: y = {slope:.2f}x + {intercept:.2f}')
plt.xlabel("CAD")  # Set the label for the x-axis as "CAD"
plt.ylabel("USD")  # Set the label for the y-axis as "USD"
plt.title("Correlation between CAD & USD")
plt.grid(False)
plt.legend()